*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Poppins, Arial, Helvetica, sans-serif; 
}

:root{
    --branco: #f0f2f5;
    --body-verde-claro: #80c82a;
    --body-verde-escuro: #006100;
    --fundo-verde-claro: #168105;
    --fundo-verde-escuro: #003200;
}

body{
    background-image: linear-gradient(to right, #168105, #003200)

}
/* CABEÇALHO */
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: var(--branco); 
    padding-left: 10px;
}
.cabecalho nav ul{
    list-style: none; /* Remove a bolinha da lista */
    padding: 0;
    margin: 0;
    display: flex;    /* Coloca os itens (li) lado a lado */
    align-items: center; /* Centraliza verticalmente */
    gap: 10px;        /* Espaço entre os ícones */
}

/* 2. Garante que os links dentro da li também se alinhem */
.cabecalho nav li{
    align-items: center; 
}

.logo-e-nomedosite{ 
    display: flex;
    align-items: center;
}

.logotipo{
    height: auto;
    width: 40px;
}

.nomedosite{
    margin: 0; 
    padding: 0; 
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    padding-left: 5px;
    color: var(--body-verde-escuro);
}

nav a{
    text-decoration: none; 
    margin: 0; 
    padding: 0;
}
.icons{
    color: var(--body-verde-escuro); 
    cursor: pointer; 
    font-size: 32px;
}

.menu-dropdown{
    position: relative;
}

.topicos-menu{
    font-family: Poppins, Helvetica, sans-serif;
    color: white; 
    padding-top: 5px;
}

.botao-cancelar{
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white;
    text-align: right;
}
.titulo--dropdown-menu{
    color: white; 
    font-size: 25px;
    font-family: Poppins, Helvetica, sans-serif; 
    font-weight: 800;
} 

.menu-dropdown-filho{
    position: fixed; 
    top: 0; 
    right: 0; 
    height: 100vh;
    width: 400px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px; 
    padding-bottom: 20px;
    background-color: var(--body-verde-escuro);
    z-index: 1000; 

    transform: translateX(100%);
    transition: 0.25s ease; 
    pointer-events: none;
}
#menu-toggle{
    position: absolute !important;
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    pointer-events: none !important;
}
.menu-dropdown-filho .topicos-menu:hover{
    background-color: var(--fundo-verde-claro); 
}
.menu-dropdown-filho a{
    display: block;
    color: white;
}

.icons-e-topicos-menu{
    display: flex;
    padding-top: 7px;

}  
.icon_do_menu{
    color: white; 
    padding-right: 5px; 
}

.botao-cancelar{
    font-size: 40px;
    z-index: 10000;
    position: relative;
    cursor: pointer; 
    text-align: left;
} 

#menu-toggle:checked ~ .menu-dropdown-filho {
    transform: translateX(0);
    pointer-events: auto;
}

.menu-dropdown-filho {
    transform: translateX(100%);
    pointer-events: none;
}

#menu-toggle:checked ~ .menu-dropdown-filho {
    transform: translateX(0);
    pointer-events: auto; 
}




main{
    height: 80vh; /* O que faz ficar lá embaixo */ 
}
/* RODAPÉ */ 
footer{
    width: 100%; 
    color: var(--body-verde-escuro);
}
#footer_content{
    background-color: var(--fundo-verde-escuro); 
    display: flex; 
    padding: 20px; 
    justify-content: space-between;
}
#footer_contacts h1{
    margin-bottom: 0.75rem;
}
#footer-list{
    display: flex;
    text-decoration: none; 
    gap: 0.75; 
    list-style: none; 
} 
.logo-e-nomedosite-footer{
    display: flex; 
    align-items: center;
}
.logotipo-footer{
    height: auto;
    width: 70px; 
    padding-right: 5px;
} 
.nomedosite-footer{
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: var(--branco); 
    padding-top: 10px;
} 
.nomedosite-e-versiculo{
    display: block; 
    padding-left: 3px;
}
.versiculo{
    font-family: Poppins, Arial, Helvetica, sans-serif; 
    color: var(--body-verde-escuro); 
    color: var(--branco);
} 
.divs-topicos-footer{
    display: flex; 
}
.topicos-footer{
    display: grid; 
    align-items: center; 
    padding-left: 40px;
    padding-right: 30px;
}
.topicos-footer-texto{
    color: var(--branco); 
    font-family: Poppins, Arial, Helvetica, sans-serif; 
    font-size: 13px; 
    opacity: 70%; 
    text-decoration: none;
}
.footer-copyright{
    text-align: center; 
    background-color: var(--fundo-verde-escuro); 
} 
.footer-copyright-texto{
    color: var(--branco); 
    opacity: 70%; 
    font-size: 15px;
}